---
layout: http
---

<h2>
  <code>
    <span class="label label-{{page.route.method | api_method_label}}">{{page.route.method}}</span> {{page.route.minpath}}</a>
  </code>
</h2>
<hr/>
<code>
  {% if page.route.returns %}
    Returns {{page.route.return_type}} of 
    {% for type in page.route.returns %}
      <a href="entities/{{type}}">{{type}}</a>
    {% endfor %}
  {% endif %}
</code>
<hr/>
{{ page.route.description }}


{% if page.route.params %}
  <h3>Request Payload</h3>  
{% endif  %}

{% for param in page.route.params %}
  {% if param[0] != 'id' %}
    <header class="panel-header">
      <h3 class="panel-title">
        <code>
          <span class="label label-success">{% if param[1].required %}required{% endif %}</span>
          {{param[0]}} ({{param[1].type}})
        </code>
      </h3>
    </header>
    <section class="panel-body">
      {{param[1].desc}}
    </section>
  {% endif %}
{% endfor %}

<h3>Failure Modes</h3>
<section class="panel panel-danger">
  {% for mode in page.route.failure_modes %}
    <header class="panel-heading">
      <h3 class="panel-title">
        <code><span class="label label-danger">{{mode[1].status}}</span> {{mode[0]}}</code> &mdash; {{mode[1].message}}
      </h3>
    </header>
    <section class="panel-body">
      <dd>{{mode[1].description}}</dd>
    </section>
  {% endfor %}
</section>