<nav class="navbar" role="navigation">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand"><img class="logotype" src="{% asset_path logo.svg %}" alt="Divshot" width="142"><img class="glyph" src="{% asset_path glyph.svg %}" alt="Divshot" width="34"><span><b>/</b> {{include.section}}</span></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="https://www.divshot.com">Overview</a>
          </li>
          <li>
            <a href="https://www.divshot.com/support">Support</a>
          </li>
          <li>
            <a href="http://status.divshot.com">Status</a>
          </li>
          <li>
            <a href="https://auth.divshot.com/register">Sign Up</a>
          </li>
          <li class="active">
            <a href="https://dashboard.divshot.com">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
