//= require bootstrap

.navbar
  background: #242732 url(asset-path('grid.png')) 50% 800%
  background-size: 1200px 740px

.row
  background: #e6e8eb
  border: 1px solid #dadbde
  border-right: 0
  border-radius: 4px 0 0 4px

.docs-nav
  margin: 25px 0

footer
  color: #999
  padding: 40px
  text-align: center