$blue: #3fa9f5

body
  font-weight: 300

h1, h2, h3
  color: #000

.lead
  color: #777

.nav-well
  padding: 8px 0
  -webkit-box-shadow: none
  box-shadow: none

.change-entry
  border-top: 5px solid $blue
  h2
    margin: 0 0 0.5em
  ul
    font-size: 1.2em
    li
      margin-bottom: 0.3em

.navbar .brand
  padding: 10px 15px 4px
  color: $blue
  img
    float: left
    margin-right: 5px
    margin-top: -2px

.main-content
  margin-top: 70px

.guide-content
  a
    font-weight: 500

.alert-question
  margin: 20px 0px
  h3, h4
    color: #777
    font-weight: 500
    margin-bottom: 10px

.guide-summary
  padding: 10px 15px
  border-left: 3px solid #ddd
  h3
    margin: 0 0 10px
  p
    margin-top: 10px

footer
  display: block
  padding: 10px
  clear: both
  background: #2b363e
  color: white
  text-align: center
  margin-top: 80px
  a
    color: #def
    font-weight: bold

@media(max-width: 979px)
  .main-content
    margin-top: 0