body
  font-weight: 300

.navbar .brand
  padding: 10px 15px 4px

.main-content
  margin-top: 70px

.alert-question
  background: white
  border-color: #ccc
  color: #777
  margin: 20px 10px
  border-left: 4px solid #39c
  h3, h4
    color: #777
    font-weight: 500
    margin-bottom: 10px