---
layout: default
---

<div class="row">
  <div class="col-md-3 secondary-nav collapse navbar-collapse">
    <div class="list-group docs-nav">
      <h3 class="list-group-heading">Architect Guides</h3>
      <a class="list-group-item" href="/architect/guides/overview">Overview</a>
      <a class="list-group-item" href="/architect/guides/pages">Folders and Pages</a>
      <a class="list-group-item" href="/architect/guides/components">Working with Components</a>
      <a class="list-group-item" href="/architect/guides/content">Editing Content</a>
      <a class="list-group-item" href="/architect/guides/source">Using the Source Editor</a>
      <a class="list-group-item" href="/architect/guides/export">Preview &amp; Export</a>
      <h3 class="list-group-heading">Other Docs</h3>
      <a class="list-group-item" href="/">Hosting Docs</a>
    </div>
  </div>
  <div class="col-md-9 main-content">
    {{content}}
  </div>
</div>