<!doctype html>

<html>
  
  <head>
    <title>Divshot.io Documentation</title>
    <meta name="viewport" content="width=device-width">
    {% stylesheet docs %}
    <script type="text/javascript" src="//use.typekit.net/lnw7qyq.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  
  <body>
    <nav class="navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand"><img src="{% asset_path logo.svg %}" alt="Divshot" width="142"><span><b>/</b> Docs</span></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="http://dashboard.divshot.com">Dashboard</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container content">
      {{content}}
    </div>
    <footer>
      <span id="copyright">&copy; {{site.time | date: "%Y"}} Divshot, Inc.</span> 
    </footer>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% javascript docs %}
  </body>

</html>