<!doctype html>
<html>
  
  <head>
    <title>Divshot - Help Center - {{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    {% stylesheet bootstrap %}
    {% stylesheet bootstrap-responsive %}
    {% stylesheet guides %}
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="brand"><img src="http://www.divshot.com/assets/lander/logo-8041b3b51fd8c2f297bc61ff913452b5.svg" width="120" alt="Divshot"/> Docs</a>
          <div class="navbar-content">
            <ul class="nav ">
              <li class="active">
                <a href="/">Guides</a> 
              </li>
              <li>
                <a href="/contact.html">Contact Support</a> 
              </li>
            </ul>
          </div>
          <ul class="nav pull-right">
            <li>
              <a href="https://app.divshot.com/">Launch App</a> 
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container main-content">
      <div class="row main-features">
        <div class="span3 hidden-phone">
          <div class="well nav-well"><ul class="nav nav-list guide-nav">
            <li>
              <a href="/">Introduction</a> 
            </li>
            <li>
              <a href="/guides/overview.html">Interface Overview</a> 
            </li>
            <li>
              <a href="/guides/pages.html">Folders and Pages</a> 
            </li>
            <li>
              <a href="/guides/components.html">Working With Components</a> 
            </li>
            <li>
              <a href="/guides/content.html">Editing Content</a> 
            </li>
            <li>
              <a href="/guides/source.html">Using the Source Editor</a> 
            </li>
            <li>
              <a href="/guides/export.html">Preview and Export</a> 
            </li>
          </ul>
        </div></div>
        <div class="span9">
          {{content}}
        </div>
      </div>
    </div>
    <footer>
      Copyright &copy; 2013 Divshot, Inc., <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">some rights reserved</a>. Error or omission in the docs? <a href="https://github.com/divshot/docs">Fix it on GitHub!</a>
    </footer>
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(function(){
        $(".guide-nav a[href='" + window.location.pathname + "']").parent().addClass('active');
      });
    </script>
  </body>

</html>